<div ba-panel ba-panel-class="profile-page">
    <div class="panel-content">
        <h3 class="with-line pt-0">{{brandData.name}}: <strong>Batch #{{ editBatchData.code }} </strong>
            <button class="btn btn-success pull-right m-b-5" data-toggle="modal" ng-click="open('app/pages/inventorySetup/tpls/dispatch-form-modal.html', 'md')">Dispatch Batch</button></h3>
        <div class="row">
            <div class="col-xs-12" ba-panel ba-panel-class="with-scroll">
        
                <div class="col-xs-6">
                    <p>
                        <span class="batch-info-label">Code:</span> {{editBatchData.code}}</p>
                    <p>
                        <span class="batch-info-label">Status:</span>
                        <span class="label label-primary">{{editBatchData.status}}</span>
                    </p>
                </div>
                <div class="col-xs-6">
                    <p>
                        <span class="batch-info-label">Manufactured On:</span> {{editBatchData.manufactureDate | date}}</p>
                    <p>
                        <span class="batch-info-label">Expires On:</span> {{editBatchData.expiryDate | date}}</p>
                </div>
            </div>
        </div>
        <uib-tabset active="$tabSetStatus.activeTab">
            <uib-tab heading="Units">
                <!-- <div class="class="p-r-0""> -->
                    <div ng-if="showBatchCreate" ba-panel ba-panel-title="Create a Batch" ba-panel-class="with-scroll">
                        <form>
                            <div class="form-group">
                                <label for="name">Code</label>
                                <input type="number" ng-model="batchData.code" class="form-control" id="code">
                            </div>
                            <div class="form-group">
                                <label for="manufactureDate">Manufacture Date</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options"
                                        ng-model="newBatchData.manufactureDate" is-open="manOpened"
                                        ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openManDatePicker()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label for="expiryDate">Expiry Date</label>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" datepicker-options="options" ng-model="newBatchData.expiryDate"
                                        is-open="expOpened" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" show-button-bar="false"
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openExpDatePicker()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                            <button type="submit" ng-click="saveBatch()" class="btn btn-danger">Create Batch</button>
                        </form>
                    </div>
                    <table ng-hide="showBatchCreate" class="table table-bordered table-hover table-condensed">
                        <tr>
                            <td></td>
                            <td>Code</td>
                            <td>Status</td>
                            <td>Sold</td>
                            <td>Created On</td>
                            <!-- <td>Actions</td> -->
                        </tr>
                        <tr ng-repeat="unit in units" class="editable-row">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                <span>{{ unit.code }}</span>
                            </td>
                            <td class="select-td">
                                <span class="label label-primary">{{ unit.status }}</span>
                            </td>
                            <td class="select-td">
                                <span>{{ unit.sold }}</span>
                            </td>
                            <td class="select-td">
                                <span>{{ unit.created }}</span>
                            </td>
                        </tr>
                    </table>
                <!-- </div> -->
                </uib-tab>
                <uib-tab heading="Labels">
                    <div class="panel-content">
                        <h3 class="with-line pt-0">Batch Label
                            <button class="btn btn-primary pull-right m-b-5" data-toggle="modal" ng-click="open('app/pages/inventorySetup/tpls/print-labels-modal.html', 'md')">Print Labels</button>
                        </h3>
                        <p style="text-align: center;"><qr text="batchCode" size=150></qr></p>
                        <p style="text-align: center;"><strong>{{batchCode}}</strong></p>
                        <h3 class="with-line pt-0">Unit Labels</h3>
                        <div ng-repeat="unit in units">
                            <div class="col-xs-3">
                                <p><qr text="unit.code" size=100></qr></p>
                                <p><strong>{{unit.code}}</strong></p>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Track">
                    <div ba-panel>
                        <section id="cd-timeline" class="cd-container cssanimations" ng-controller="BlurAdmin.pages.inventorySetup.controllers.brands">
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img">
                                    <div class="kameleon-icon with-round-bg warning">
                                        <img ng-src="{{::( 'Euro-Coin' | kameleonImg )}}">
                                    </div>
                                </div>
                    
                                <div class="cd-timeline-content warning">
                                    <h5>Title of section 1</h5>
                    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi
                                        placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                    <span class="cd-date">Jan 14</span>
                                </div>
                            </div>
                    
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img">
                                    <div class="kameleon-icon with-round-bg danger">
                                        <img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}">
                                    </div>
                                </div>
                    
                                <div class="cd-timeline-content danger">
                                    <h5>Title of section 2</h5>
                    
                                    <p>Donec dapibus at leo eget volutpat. Praesent dolor tellus, ultricies venenatis molestie eu, luctus eget nibh.
                                        Curabitur ullamcorper eleifend nisl.</p>
                                    <span class="cd-date">Jan 18</span>
                                </div>
                            </div>
                    
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img">
                                    <div class="kameleon-icon with-round-bg primary">
                                        <img ng-src="{{::( 'Checklist' | kameleonImg )}}">
                                    </div>
                                </div>
                    
                                <div class="cd-timeline-content primary">
                                    <h5>Title of section 3</h5>
                    
                                    <p>Phasellus auctor tellus eget lacinia condimentum. Cum sociis natoque penatibus et magnis dis parturient montes.
                                    </p>
                                    <span class="cd-date">Feb 18</span>
                                </div>
                            </div>
                    
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img">
                                    <div class="kameleon-icon with-round-bg warning">
                                        <img ng-src="{{::( 'Boss-3' | kameleonImg )}}">
                                    </div>
                                </div>
                    
                                <div class="cd-timeline-content warning">
                                    <h5>Title of section 4</h5>
                    
                                    <p>Morbi fringilla in massa ac posuere. Fusce non sagittis massa, id accumsan odio. Nullam eget tempor est.
                                        Etiam eu felis eu purus aliquam tristique id quis nisl. Nam eros nibh, consequat sed pulvinar eu, ultrices
                                        ornare ligula. Aenean interdum sed nunc sed hendrerit.</p>
                                    <span class="cd-date">Feb 20</span>
                                </div>
                            </div>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img">
                                    <div class="kameleon-icon with-round-bg danger">
                                        <img ng-src="{{::( 'Online-Shopping' | kameleonImg )}}">
                                    </div>
                                </div>
                    
                                <div class="cd-timeline-content danger">
                                    <h5>Title of section 5</h5>
                    
                                    <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur eget mattis
                                        metus. Nullam egestas eros metus, quis fringilla urna accumsan sed. Aliquam ultrices at arcu vitae tincidunt.
                                    </p>
                                    <span class="cd-date">Feb 21</span>
                                </div>
                            </div>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img">
                                    <div class="kameleon-icon with-round-bg primary">
                                        <img ng-src="{{::( 'Money-Increase' | kameleonImg )}}">
                                    </div>
                                </div>
                    
                                <div class="cd-timeline-content primary">
                                    <h5>Title of section 6</h5>
                    
                                    <p>Praesent bibendum ante mattis augue consectetur, ut commodo turpis consequat. Donec ligula eros, porta in
                                        iaculis vel, semper ac sem. Integer at mauris lorem.</p>
                                    <span class="cd-date">Feb 23</span>
                                </div>
                            </div>
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img">
                                    <div class="kameleon-icon with-round-bg warning">
                                        <img ng-src="{{::( 'Vector' | kameleonImg )}}">
                                    </div>
                                </div>
                    
                                <div class="cd-timeline-content warning">
                                    <h5>Title of section 7</h5>
                    
                                    <p>Vivamus ut laoreet erat, vitae eleifend eros. Sed varius id tellus non lobortis. Sed dolor ante, cursus non
                                        scelerisque sed, euismod id eros.</p>
                                    <span class="cd-date">Feb 24</span>
                                </div>
                            </div>
                        </section>
                    </div>
                </uib-tab>
        </uib-tabset>
    </div>
</div>
