<div class="row">
    <div class="col-xs-12" ba-panel ba-panel-class="with-scroll">
        <div class="panel-content">
            <h3 class="with-line pt-0">BATCH DETAILS
                <button ng-show="isSupplier" class="btn btn-success pull-right m-b-5" data-toggle="modal" ng-click="open('app/pages/verify/tpls/supplier-dispatch-form.html', 'md')">Dispatch Batch</button>
            </h3>
        </div>
        <div class="col-xs-6">
            <p> <span class="batch-info-label">Code:</span> {{batch.code}}</p>
            <p><span class="batch-info-label">Status:</span> <span class="label label-primary">{{batch.status}}</span></p>
        </div>
        <div class="col-xs-6">
            <p><span class="batch-info-label">Manufactured On:</span> {{batch.manufactureDate | date}}</p>
            <p><span class="batch-info-label">Expires On:</span> {{batch.expiryDate | date}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" ba-panel ba-panel-title="Scan or Type the Unit Code Below to Verify" ba-panel-class="with-scroll">
        <form class="row form-inline">
            <div class="form-group col-xs-8">
                <input type="text" ng-model="toVerify.code" class="form-control" id="code">
            </div>
            <div class="col-xs-4">
                <button ng-click="verifyUnit()" class="btn btn-primary">Verify and Receive Unit</button>
            </div>
        </form>
    </div>
</div>

<uib-tabset active="$tabSetStatus.activeTab">
    <uib-tab heading="Units">
        <!-- <div class="class="p-r-0""> -->
        <table class="table table-bordered table-hover table-condensed">
            <tr>
                <td></td>
                <td>Code</td>
                <td>Status</td>
                <td>Sold</td>
                <td>Created On</td>
                <!-- <td>Actions</td> -->
            </tr>
            <tr ng-repeat="unit in units" class="editable-row">
                <td>
                    {{$index + 1}}
                </td>
                <td>
                    <span>{{ unit.code }}</span>
                </td>
                <td class="select-td">
                    <span class="label label-primary">{{ unit.status }}</span>
                </td>
                <td class="select-td">
                    <span>{{ unit.sold }}</span>
                </td>
                <td class="select-td">
                    <span>{{ unit.created | date}}</span>
                </td>
            </tr>
        </table>
        <!-- </div> -->
    </uib-tab>
    <uib-tab heading="Track & Trace">
        <div ba-panel ng-controller="BlurAdmin.pages.inventorySetup.controllers.brands">
            <section id="cd-timeline" class="cd-container cssanimations">
                <div class="cd-timeline-block" ng-if="timelineItems.PRODUCED.available">
                    <div class="cd-timeline-img">
                        <div class="kameleon-icon with-round-bg warning">
                            <img ng-src="{{::( 'Shop' | kameleonImg )}}">
                        </div>
                    </div>

                    <div class="cd-timeline-content success">
                        <h5>MANUFACTURED</h5>
                        <hr>
                        <p>By: {{ timelineItems.PRODUCED.producedBy }}</p>
                        <p>On: {{ timelineItems.PRODUCED.producedOn | date}}</p>
                    </div>
                </div>

                <div class="cd-timeline-block" ng-if="timelineItems.SUPPLIER_DISPATCHED.available">
                    <div class="cd-timeline-img">
                        <div class="kameleon-icon with-round-bg danger">
                            <img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}">
                        </div>
                    </div>

                    <div class="cd-timeline-content danger">
                        <h5>SUPPLIER DISPATCHED</h5>
                        <hr>
                        <p>Dispatched By: {{ timelineItems.SUPPLIER_DISPATCHED.dispatchedBy }}</p>
                        <p>Dispatched To: {{ timelineItems.SUPPLIER_DISPATCHED.dispatchedTo }}</p>
                        <p>Dispatched On: {{ timelineItems.SUPPLIER_DISPATCHED.dispatchedOn | date }}</p>
                    </div>
                </div>

                <div class="cd-timeline-block" ng-if="timelineItems.SUPPLIER_RECEIVED.available">
                    <div class="cd-timeline-img">
                        <div class="kameleon-icon with-round-bg primary">
                            <img ng-src="{{::( 'Checklist' | kameleonImg )}}">
                        </div>
                    </div>

                    <div class="cd-timeline-content primary">
                        <h5>SUPPLIER RECEIVED</h5>
                        <hr>
                        <p>Received By: {{ timelineItems.SUPPLIER_RECEIVED.receivedBy }}</p>
                        <p>Received From: {{ timelineItems.SUPPLIER_RECEIVED.receivedFrom }}</p>
                        <p>Received On: {{ timelineItems.SUPPLIER_RECEIVED.receivedOn | date }}</p>
                    </div>
                </div>

                <div class="cd-timeline-block" ng-if="timelineItems.RETAILER_DISPATCHED.available">
                    <div class="cd-timeline-img">
                        <div class="kameleon-icon with-round-bg danger">
                            <img ng-src="{{::( 'Laptop-Signal' | kameleonImg )}}">
                        </div>
                    </div>

                    <div class="cd-timeline-content danger">
                        <h5>RETAILER DISPATCHED</h5>
                        <hr>
                        <p>Dispatched By: {{ timelineItems.RETAILER_DISPATCHED.dispatchedBy }}</p>
                        <p>Dispatched To: {{ timelineItems.RETAILER_DISPATCHED.dispatchedTo }}</p>
                        <p>Dispatched On: {{ timelineItems.RETAILER_DISPATCHED.dispatchedOn | date }}</p>
                    </div>
                </div>

                <div class="cd-timeline-block" ng-if="timelineItems.RETAILER_RECEIVED.available">
                    <div class="cd-timeline-img">
                        <div class="kameleon-icon with-round-bg primary">
                            <img ng-src="{{::( 'Checklist' | kameleonImg )}}">
                        </div>
                    </div>

                    <div class="cd-timeline-content primary">
                        <h5>RETAILER RECEIVED</h5>
                        <hr>
                        <p>Received By: {{ timelineItems.RETAILER_RECEIVED.receivedBy }}</p>
                        <p>Received From: {{ timelineItems.RETAILER_RECEIVED.receivedFrom }}</p>
                        <p>Received On: {{ timelineItems.RETAILER_RECEIVED.receivedOn | date: 'MM-dd-yyyy AT h:mma' }}</p>
                    </div>
                </div>
            </section>
        </div>
    </uib-tab>
</uib-tabset>
