.m-b-5 {
    margin-bottom: 5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-r-0 {
    margin-right: 0px !important;
}

.m-l-0 {
    margin-left: 0px !important;
}

.p-l-0 {
    padding-left: 0px !important;
}

.p-r-0 {
    padding-right: 0px !important;
}

.p-0 {
    padding: 0px 0px 0px 0px !important;
}

.txt-center {
    text-align: center !important;
}
